.sidebar {
    width: 15%;
    background: var(--sidebar-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-right: 5px solid #5a4dff;
}


.logo {
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 40px;
}

.btn {
    width: 100%;
    background: #145a7a;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 50px;
}

.btn:hover {
    background: #0f4158;
}

.dropdown {
    width: 100%;
    position: relative;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #0f4158;
    border-radius: 6px;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.dropdownItem {
    background: transparent;
    border: none;
    color: white;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
}

.dropdownItem:hover {
    background: #145a7a;
}
.dropdownItem:disabled {
    background: #ccc;
    color: #666;
    cursor: not-allowed;
}

.logoLine {
    width: 80%;
    height: 2px;
    background-color: #5a4dff;
    margin: 10px auto 20px;
}
