.translationBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  max-width: 800px;
}

.translationLabel {
  background: #5a4dff;
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.translationArea {
  background: white;
  border-radius: 10px;
  padding: 15px;
  min-height: 300px;
  width: 190%;
  text-align: center;
  font-size: 16px;
  color: #333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
