.main {
    flex: 1;
    background: #000000;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.video {
  width: 1000px; /* tamanho fixo grande */
  max-width: 90%; /* garante responsividade */
  border-radius: 12px;
  background: #000;
}

