.main {
    flex: 1;
    background: #0b3f63;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.videoBox {
    flex: 1;
    background: #fff;
    border-radius: 6px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
    width: 100%;
    max-width: 600px; /* Aumentado para 600px */
    border-radius: 12px;
    background: black;
}
.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    padding: 16px;
    border-radius: 12px;
    /* Removido width/height 100% para não ocupar tudo */
}

