.main {
    flex: 1;
    background: #0b3f63;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.videoBox {
    flex: 1;
    background: #fff;
    border-radius: 6px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
  width: 100%;
  max-width: 700px;
  border-radius: 12px;
  background: rgb(0, 0, 0);
}


